@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@plugin "flowbite/plugin";

@plugin "tailwindcss-animate";
@source "./node_modules/flowbite";

/* Asegurar que el body y html ocupen toda la altura */


@font-face {
  font-family: "Maitland Script";
  src: url("/src/fonts/Maitland Script.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Betterlett";
  src: url("/src/fonts/Betterlett.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("/src/fonts/Avenir.ttc") format("truetype");
  font-weight: normal;
  font-style: normal;
}